# Core Framework
typer[all]
rich

# HTTP & Network
requests
httpx
aiohttp
h2
PySocks

# Web Scraping & Parsing
beautifulsoup4
selenium
webdriver-manager

# Security & Cryptography
cryptography
pyopenssl

# DNS & Network Tools
dnspython
aiodns
python-whois
scapy
python-nmap

# DB
sqlite3

# Utilities
colorama
tenacity
pyyaml
phonenumbers
graphviz
