dnspython

rich

requests

colorama

collection

beautifulsoup4

cryptography>=42.0.0

tenacity

datetime

pathlib

PySocks

socks

graphviz

asyncio

aiohttp

python-whois

pyopenssl

scapy

aiodns

selenium

Appium-Python-Client

webdriver-manager

pyyaml

python-nmap

phonenumbers

httpx

h2

typer[all]
